@page "/claims"
@attribute [Authorize]
@using System.Security.Claims
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using BlazorAuth0Demo.Shared;
@inject IAuthorizationService AuthorizationService
@inject IAccessTokenProvider TokenProvider
@inject HttpClient Http
@using Newtonsoft.Json


<h3>ClaimsPrincipal Data</h3>

<button @onclick="GetClaimsPrincipalData">Get ClaimsPrincipal Data</button>

<p>@_authMessage</p>

@if (_claims.Count() > 0)
{
    <ul>
        @foreach (var claim in _claims)
        {
            <li>@claim.Issuer - @claim.Type: @claim.Value</li>
        }
    </ul>
}

<p>@_surnameMessage</p>
<p>User id: @_userId</p>

@code {
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    private string _authMessage;
    private string _surnameMessage;
    private string _userId;

    private IEnumerable<Claim> _claims = Enumerable.Empty<Claim>();


    private async Task GetClaimsPrincipalData()
    {
        var user = (await authenticationStateTask).User;

        if (user.Identity.IsAuthenticated)
        {
            _authMessage = $"{user.Identity.Name} is authenticated.";
            _claims = user.Claims;
            _surnameMessage =
                $"Surname: {user.FindFirst(c => c.Type == ClaimTypes.Surname)?.Value}";
            _userId = $"{user.FindFirst(c => c.Type == "sub")?.Value}";
        }

        if ((await AuthorizationService.AuthorizeAsync(user, BlazorAuth0Demo.Shared.PolicyTypes.READ_WEATHER)).Succeeded)
        {
            _authMessage += " " + BlazorAuth0Demo.Shared.PolicyTypes.READ_WEATHER;
        }
    }


}