@page "/fetchdata"
@attribute [Authorize]

@using BlazorAuth0Demo.Shared
@inject HttpClient Http
@inject IAccessTokenProvider TokenProvider
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using System.Net.Http.Headers


<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in forecasts)
            {
                <tr>
                    <td>@forecast.Date.ToShortDateString()</td>
                    <td>@forecast.TemperatureC</td>
                    <td>@forecast.TemperatureF</td>
                    <td>@forecast.Summary</td>
                </tr>
            }
        </tbody>
    </table>
}
<p>@logMessage</p>

@code {
    private WeatherForecast[] forecasts;
    private string logMessage;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var tokenResult = await TokenProvider.RequestAccessToken();

            if (tokenResult.TryGetToken(out var token) && token.GrantedScopes.Contains(PolicyTypes.READ_WEATHER))
            {
                forecasts = await Http.GetFromJsonAsync<WeatherForecast[]>("WeatherForecast");
            }
            else
            {
                logMessage = "Not authorized";
            }
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }
  
}
